<ng-container *ngIf="data$ | async as data">
  <div class="flex sm:h-screen justify-center">
    <div class="flex-1 lg:pl-40 lg:pr-40">
      <nz-card nzTitle="Notifications">
        <nz-list nzItemLayout="horizontal">
          @for (notif of data?.notifData?.data; track $index) {
          <nz-list-item>
            <nz-list-item-meta [nzAvatar]="notif.actors[0]?.image">
              <nz-list-item-meta-description>
                <div *ngIf="notif.actors.length === 1">
                  <span
                    ><strong>{{ notif.actors[0]?.username }}</strong></span
                  >&nbsp;<i>{{
                    extractMsgPart(notif.message_parts, 'message')
                  }}</i
                  >&nbsp; @if (notif.type === 'reacted_comment' &&
                  extractMsgPart(notif.message_parts, 'content') == 'liked') {
                  <ng-container *ngTemplateOutlet="likeReact"></ng-container>

                  } @if (notif.type === 'reacted_comment' &&
                  extractMsgPart(notif.message_parts, 'content') == 'disliked')
                  {
                  <ng-container
                    *ngTemplateOutlet="dislikedReact"
                  ></ng-container>

                  } @if (notif.type !== 'followed_profile') { -
                  <span>{{
                    extractMsgPart(notif.message_parts, 'title')
                  }}</span>
                  }
                </div>

                <div *ngIf="notif.actors.length === 2">
                  <span
                    ><strong>{{ notif.actors[0]?.username }}</strong></span
                  >
                  and
                  <span
                    ><strong>{{ notif.actors[1]?.username }}</strong></span
                  ><i>{{ extractMsgPart(notif.message_parts, 'message') }}</i
                  >&nbsp; @if (notif.type === 'reacted_comment' &&
                  extractMsgPart(notif.message_parts, 'content') == 'liked') {
                  <ng-container *ngTemplateOutlet="likeReact"></ng-container>

                  } @if (notif.type === 'reacted_comment' &&
                  extractMsgPart(notif.message_parts, 'content') == 'disliked')
                  {
                  <ng-container
                    *ngTemplateOutlet="dislikedReact"
                  ></ng-container>

                  } -
                  <span>{{
                    extractMsgPart(notif.message_parts, 'title')
                  }}</span>
                </div>

                <ng-container *ngIf="notif.actors.length > 2">
                  <span
                    ><strong>{{ notif.actors[0].username }}</strong></span
                  >
                  and <span>{{ notif.actors.length - 1 }} others </span
                  ><span>{{
                    extractMsgPart(notif.message_parts, 'message')
                  }}</span>

                  @if (notif.type === 'reacted_comment' &&
                  extractMsgPart(notif.message_parts, 'content') == 'liked') {
                  <ng-container *ngTemplateOutlet="likeReact"></ng-container>

                  } @if (notif.type === 'reacted_comment' &&
                  extractMsgPart(notif.message_parts, 'content') == 'disliked')
                  {
                  <ng-container
                    *ngTemplateOutlet="dislikedReact"
                  ></ng-container>

                  } -
                  <span>{{
                    extractMsgPart(notif.message_parts, 'title')
                  }}</span>
                </ng-container>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>{{
                getTimeDiff(notif.updatedAt)
              }}</nz-list-item-action>
            </ul>
          </nz-list-item>
          }
        </nz-list>
        <div *ngIf="data.actionData.length > 0" class="loadmore">
          <button nz-button (click)="onLoadMore()">loading more</button>
        </div>
        <br />
        <nz-skeleton
          [nzLoading]="data.isLoading"
          [nzActive]="data.isLoading"
          [nzParagraph]="{rows: 6}"
        ></nz-skeleton>
        <nz-list *ngIf="!data.isLoading && data.actionData.length === 0">
          <nz-list-empty></nz-list-empty>
        </nz-list>
      </nz-card>
    </div>
  </div>
</ng-container>

<ng-template #likeReact>
  <span nz-icon nzType="like"></span>
</ng-template>

<ng-template #dislikedReact>
  <span nz-icon nzType="dislike"></span>
</ng-template>
