<div class="z-10 relative">
    <h2 class="text-2xl font-bold mb-6">
        <i><a class="text-black! hover:underline hover:text-gray-800!" routerLink="/global-feed"> Read Hive</a></i>
      <!-- <img
      style="height: 35px; border-radius: 5;"
        src="/logo/20250613_0817_ReadHive_Logo Design_simple_compose_01_edited_logo.png"
        alt=""
      /> -->
    </h2>
    <div class="mt-20 md:mt-32">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">Share yours.</h1>
      <h2 class="text-2xl md:text-3xl font-semibold mb-6">
        Join the hive. Start writing.
      </h2>
      <p class="max-w-md">
        A vibrant space where ideas thrive.
        Create and share articles, follow your favorite writers, engage through likes and comments, and stay in the loop with real-time notifications. Join the hive and be part of a buzzing community of readers and writers.
      </p>
    </div>
  </div>