<ng-container *ngIf="data$ | async as data">
  <nz-card
    nzBordered
    [nzBodyStyle]="{width: '100%', maxWidth: '600px', margin: 'auto'}"
  >
    <div
      class="user-profile-header"
      style="text-align: center; margin-bottom: 16px"
    >
      <nz-avatar
        [nzSize]="96"
        nzSrc="https://via.placeholder.com/150"
        style="margin-bottom: 12px"
      ></nz-avatar>
      <h2>{{ data.userProfile?.username }}</h2>
      <ng-container *ngIf="!data.isCurrentUserProfile">
        <app-follow-button
          [isFollowing]="data.userProfile?.following"
          [username]="data.userProfile?.username"
        ></app-follow-button>
      </ng-container>
    </div>

    <nz-divider></nz-divider>

    <div class="user-profile-content" style="padding: 0 24px">
      <h3>Bio</h3>
      <p>{{ data.userProfile?.bio }}</p>

      <nz-divider></nz-divider>
    </div>
  </nz-card>

  <div class="content-wrapper">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a
          *nzTabLink
          nz-tab-link
          [routerLink]="['/profile', username]"
          [queryParams]="{tab: 'posts'}"
          queryParamsHandling="merge"
        >
          <ng-container *ngIf="data.isCurrentUserProfile; else userPostTabName"
            >My Posts</ng-container
          >

          <ng-template #userPostTabName> Posts </ng-template>
        </a>
      </nz-tab>
      <nz-tab>
        <a
          *nzTabLink
          nz-tab-link
          [routerLink]="['/profile', username, 'favorites']"
          [queryParams]="{tab: 'favorites'}"
        >
          Favorites Posts
        </a>
      </nz-tab>
    </nz-tabset>
    <app-new-post *ngIf="isNewPostTab"></app-new-post>

    <app-feed [apiUrl]="getApiUrl()"></app-feed>
  </div>
</ng-container>
