<div class="mb50">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item
      ><span nz-icon nzType="setting"></span>&nbsp;Settings</nz-breadcrumb-item
    >
  </nz-breadcrumb>
</div>

<ng-container *ngIf="data$ | async as data">
  <app-backend-error-messages
    *ngIf="data.backendErrors"
    [backendErrors]="data.backendErrors"
  ></app-backend-error-messages>

  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzSm="6" nzXs="24" nzFor="URL of profile picture"
        >URL of profile picture</nz-form-label
      >
      <nz-form-control nzSm="14" nzXs="24">
        <input nz-input id="url" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSm="6" nzXs="24" nzFor="username" nzRequired
        >Username</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your username!"
      >
        <input nz-input type="text" id="username" formControlName="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword"
        >Short bio about you</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea
          formControlName="bio"
          nz-input
          [nzAutosize]="{minRows: 3, maxRows: 5}"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>
        <span>Email</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your email!"
      >
        <input nz-input id="email" formControlName="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website"
        >New password</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your new password!"
      >
        <input nz-input id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <a nz-button nzType="link" nzDanger (click)="logout()">
          Or Click here to logout
        </a>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button
          type="submit"
          nz-button
          nzType="primary"
          [disabled]="form.invalid || data.isSubmitting"
        >
          Update settings
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
