.layout {
  min-height: 100vh;
}

/* 
.inner-layout {
  padding: 0 12px 12px;
}

.inner-content {
  padding: 12px;
  background: #fff;
  min-height: 460px;
} */

/* nz-content {
  margin: 24px 16px 0;
} */

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  /* padding: 12px; */
  /* min-height: 280px; */
}