.font12 {
  font-size: 12px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-10 {
  margin-right: 10rem;
}

.date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

a { 
  color: black;
}

a:hover {
  color: #1890ff;
}

.mt-5 {
  margin-top: 5px;
}