nz-header {
  padding: 0;
}

.banner-title {
  float: left;
  color: #fff;
  text-align: start;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.pull-right {
    float: right;
}

.header-menu {
    line-height: 64px;
}

.padding10 { 
  padding: 10px;
}

::ng-deep li.no-hover:hover {
  background-color: transparent !important;
  color: inherit !important;
}

.ant-badge {
  color: #fff;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  /* background-image: url('/logo/20250613_0817_ReadHive_Logo Design_simple_compose_01.png'); */
  margin: 16px 25px 16px 0;
  float: left;
}
/* .ant-dropdown-menu  */
