/* .ant-layout-header {
  padding: 0 15px !important;
} */

nz-header {
  background: #fff !important;
  padding: 0;
}

/* .banner-title {
  float: left;
  color: #fff;
  text-align: start;
} */

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.mt {
  margin-top: 15px !important;
}



.trigger:hover {
  color: #1890ff;
}

.pull-right {
    float: right;
}

.header-menu {
    line-height: 64px;
}

.padding10 { 
  padding: 10px;
}

:host ::ng-deep .no-hover:hover {
  background-color: transparent !important;
  color: inherit !important;
}

/* :host ::ng-deep .no-hover:hover.ant-menu-item.ant-menu-item-selected {
  background-color: transparent !important;
  color: inherit !important;
  cursor: pointer !important;
} */

:host ::ng-deep .no-hover.ant-menu-item-selected {
  background-color: transparent !important;
  color: inherit !important;
}

.no-hover.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover
{
  background-color: transparent !important;
}

:host ::ng-deep .no-hover.ant-menu-item-selected,
.no-hover.ant-menu-item-active {
  background-color: transparent !important;
}


/* .ant-badge {
  color: #fff;
} */
/* .ant-dropdown-menu  */
