nz-header {
  padding: 0;
}

.banner-title {
  color: #fff;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.pull-right {
    float: right;
}

.header-menu {
    line-height: 64px;
}

.padding10 { 
  padding: 10px;
}
